body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#f5f7fa;
  color:#333;
}

header{
  background:#1e293b;
  color:white;
  padding:20px;
  text-align:center;
}

nav{
  background:#0f172a;
  padding:10px;
  text-align:center;
}

nav a{
  color:white;
  margin:0 15px;
  text-decoration:none;
  font-weight:bold;
}

.section{
  max-width:1000px;
  margin:auto;
  padding:50px 20px;
}

.card{
  background:white;
  padding:30px;
  border-radius:10px;
  margin-bottom:25px;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

button{
  padding:15px 25px;
  background:#16a34a;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

footer{
  background:#1e293b;
  color:white;
  text-align:center;
  padding:20px;
}
